.banner{
    background-color:$c2;
    clip-path: polygon(0% 0%,100% 0%,100% 90%,0% 100%);
    img{
        opacity: 0.1;
        
    }
    .carousel-item{
        position: relative;
        .carcont{
            position: absolute;
            top:50%;
            transform:translateY(-50%);
            h1{
               animation-name: fadeInDown;
               animation-duration: 1s;
            }
            p{
               animation-name: fadeInUp;
               animation-duration: 1s;
            }
        }
    }
    .mobban{
        h1{
            animation-name: fadeInDown;
            animation-duration: 1s;
         }
         p{
            animation-name: fadeInUp;
            animation-duration: 1s;
         }
    }
}