.recentpost{
    
    position: relative;
    @media only screen and (max-width:1199px){
        background-color: $c1;
        padding-bottom: 50px;
        .backimg{
            display: none;
        }
        h2{
            color:$wh;
        }
        hr{
            background-color: $wh;
        }
    }
    @media only screen and (min-width:1200px){
        clip-path: polygon(0% 25%,100% 0%,100% 100%,0% 100%);
    }
    .recont{
        @media only screen and (min-width:1200px){
            position: absolute;
            top:25%;
        }
        @media only screen and (max-width:1199px){
            margin-top: 50px;
            

        }
        .card{
            width:300px;
        }
    }
}